version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: gopool_landing_1
      APP_PORT: 80

  landing:
    image: nginx:alpine
    restart: on-failure
    depends_on:
      - server
    volumes:
      - ${APP_DATA_DIR}/config:/data/config:ro
      - www:/data/www:ro
      - ./landing/index.html:/usr/share/nginx/html/index.html:ro
      - ./landing/nginx.conf:/etc/nginx/conf.d/default.conf:ro

  server:
    image: ghcr.io/distortions81/gopool:1.0.0
    restart: on-failure
    stop_grace_period: 30s
    network_mode: host
    volumes:
      - ${APP_DATA_DIR}/config:/app/data/config
      - ${APP_DATA_DIR}/state:/app/data/state
      - ${APP_DATA_DIR}/logs:/app/data/logs
      - www:/app/data/www
    environment:
      BITCOIN_RPC_URL: "http://${APP_BITCOIN_NODE_IP}:${APP_BITCOIN_RPC_PORT}"
      BITCOIN_RPC_USER: "${APP_BITCOIN_RPC_USER}"
      BITCOIN_RPC_PASS: "${APP_BITCOIN_RPC_PASS}"
      ZMQ_HASHBLOCK_ADDR: ""
      ZMQ_RAWBLOCK_ADDR: ""
      POOL_LISTEN: ":3333"
      STATUS_LISTEN: ":8580"

volumes:
  www:
