{
  "pool_listen": ":3333",
  "status_listen": ":80",
  "status_tls_listen": ":443",
  "status_brand_name": "",
  "status_brand_domain": "",
  "status_tagline": "Solo Mining Pool",
  "fiat_currency": "usd",
  "donation_address": "OPTIONAL_DONATION_WALLET_ADDRESS",
  "discord_url": "",
  "stratum_tls_listen": ":4333",
  "rpc_url": "http://127.0.0.1:8332",
  "payout_address": "YOUR_POOL_WALLET_ADDRESS_HERE",
  "pool_fee_percent": 2,
  "extranonce2_size": 4,
  "template_extranonce2_size": 8,
  "coinbase_suffix_bytes": 4,
  "coinbase_pool_tag": "",
  "coinbase_scriptsig_max_bytes": 100,
  "coinbase_message": "goPool",
  "zmq_block_addr": "",
  "data_dir": "data",
  "share_log_buffer_bytes": 0,
  "fsync_share_log": false,
  "share_log_replay_bytes": 16777216,
  "max_conns": 10000,
  "max_accepts_per_second": 500,
  "max_accept_burst": 1000,
  "auto_accept_rate_limits": true,
  "accept_reconnect_window": 15,
  "accept_burst_window": 5,
  "accept_steady_state_window": 100,
  "accept_steady_state_rate": 50,
  "accept_steady_state_reconnect_percent": 5,
  "accept_steady_state_reconnect_window": 60,
  "max_recent_jobs": 3,
  "subscribe_timeout_seconds": 15,
  "authorize_timeout_seconds": 15,
  "stratum_read_timeout_seconds": 300,
  "min_version_bits": 1,
  "max_difficulty": 16000,
  "min_difficulty": 512,
  "lock_suggested_difficulty": false,
  "hide_low_diff_errors": true,
  "hashrate_ema_tau_seconds": 600,
  "ntime_forward_slack_seconds": 7000,
  "ban_invalid_submissions_after": 60,
  "ban_invalid_submissions_window_seconds": 60,
  "ban_invalid_submissions_duration_seconds": 900,
  "reconnect_ban_threshold": null,
  "reconnect_ban_window_seconds": 60,
  "reconnect_ban_duration_seconds": 300
}